build
*.class
.classpath
config.xml
config.xml.*
config.xml~
.gradle/
.idea/
*.jar
logs/*
log.txt
*.old
out/
*.png
.project
rdseed.err_log*
schema/*
seedscan.lock
seedscan.ipr
seedscan.iws
.settings
src/main/java/asl/seedscan/config
*.swp
*.txt
bin/*
*.log
/bin
