[submodule "src/test/resources"]
	path = src/test/resources
	url = https://github.com/usgs/seismic-test-data.git
[submodule "asl-java-utils"]
	path = asl-java-utils
	url = git@code.usgs.gov:asl/asl-java-utils.git
