build
*.class
config.xml
config.xml~
doc
logs/*
log.txt
*.old
*.png
.project
*.pyc
rdseed.err_log*
seedscan.jar
SeedScan.jar
seedscan.lock
.settings
src/asl/seedscan/config
src/log4j.properties
*.swp
*.txt
output
output2
ASL_NoTrack
bin/*
*.log
/bin
