/bin/
build
*.class
.classpath
config.xml*
database.gradle
.DS_Store
.gradle/
.idea/
*.jar
*.log
log.txt
*.old
/out/
/plots/
*.png
.project
rdseed.err_log*
/schema/
seedscan.iml
seedscan.ipr
seedscan.iws
seedscan.lock
.settings
/src/main/java/asl/seedscan/config
*.swp

!/samples/*
